.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
}

.main-logo {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 24px;
    font-weight: 800;
    color: #eeeeee;

    & > svg {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        fill: #eeeeee;
    }
}

.write-link {
    padding: 0px 5px;
    & > svg {
        width: 30px;
        height: 30px;
        stroke: #eeeeee;
        cursor: pointer;
    }
}